@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
	--font-display: "Geist", sans-serif;
	--font-heading: "Instrument Serif";
}